.wrapper {
    height: calc(100vh - 32px);
    width: calc(100% - var(--sidebar-width) - 16px);
    background: #232323;
    margin-left: var(--sidebar-width);
    padding: 64px;
    margin: 16px 16px 32px var(--sidebar-width);
    border-radius: 16px;
    position: fixed;

    .title {}

    .hero {
        img {
            width: 64px;
        }

        h1 {
            font-size: 128px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            line-height: 128px;
        }

        h2 {
            font-size: 24px;
            color: #b5b5b5;
        }
    }
}