@import "variables";

.wrapper {
    height: calc(100vh - 32px);
    width: calc(100% - var(--sidebar-width) - 16px);
    background: $lighter-dark;
    padding: 24px;
    margin: 16px 16px 32px var(--sidebar-width);
    border-radius: 16px;
    position: fixed;
    overflow-y: auto;


    .container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        img.logo {
            width: 64px;
        }

        .hero {

            display: flex;
            flex-direction: column;
            gap: 8px;

            h1 {
                font-size: 128px;
                text-transform: uppercase;
                color: $white;
                font-weight: bold;
                line-height: 128px;
            }

            h2 {
                font-size: 24px;
                color: $light;
            }
        }

        .textBox {
            display: flex;
            flex-direction: column;
            gap: 8px;
            justify-self: end;

            h2 {
                font-size: 24px;
                font-family: "Helvetica Neue", sans-serif;
                font-weight: bold;
                color: $white;
            }

            p {
                font-size: 16px;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                color: $light;
                max-width: 55ch;
            }
        }
    }

    .title {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: $white;
    }

    .wrapper-inner {
        background: $dark;
        padding: 24px;
        border-radius: 15px;
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    $scrollbar-height: 5px;
    $scrollbar-padding: 15px;

    &::-webkit-scrollbar {
        width: calc(32px + 4px);
        background-color: rgba(255, 255, 255, 0);
        border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
        background-color: $lighter-dark;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light;
        border: 16px solid $lighter-dark;
        border-radius: 100px;
    }

}