@import "variables";

.recent-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    .large-project {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 15px;
            object-fit: cover;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -1px;
            bottom: 4px;
            right: -1px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0, ));
            display: flex;
            border-radius: 15px;
            pointer-events: none;
        }

        .text-box {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 24px;
            display: flex;
            flex-direction: column;
            z-index: 10;
            gap: 8px;

            h2 {
                font-size: 32px;
                font-family: "Inter", sans-serif;
                font-weight: 500;
                color: $white;
            }

            p {
                font-size: 12px;
                font-family: "Inter", sans-serif;
                font-weight: bold;
                color: $light;
                text-transform: uppercase;

                i {
                    margin-right: 8px;
                }
            }
        }

        &:hover .link-circle {
            opacity: 1;
            pointer-events: all;
        }

        .link-circle {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s ease;
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 1;

            &:after {
                content: "";
                position: absolute;
                top: -1px;
                left: -1px;
                bottom: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.66);
                z-index: -2;
                border-radius: 15px;
            }

            i {
                font-size: 15px;
                color: $white;
                transition: color 0.2s ease;

                &:after {
                    content: "";
                    background: $lighter-dark;
                    border-radius: 100%;
                    aspect-ratio: 1;
                    width: 64px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }

                &:hover {
                    color: $teal;
                }
            }
        }
    }
}

.wrapper-inner-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

    .project {
        display: flex;
        flex-direction: column;
        gap: 16px;
        z-index: 10;

        img {
            width: 100%;
            border-radius: 15px;
            aspect-ratio: 16 / 9;
            object-fit: cover;
        }

        .text-box {
            display: flex;
            flex-direction: column;
            gap: 8px;
            z-index: 1;

            h2 {
                font-family: "Inter", sans-serif;
                font-size: 20px;
                font-weight: 500;
                color: $white;
            }

            p {
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: $light;
            }
        }

        .interaction-bar {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            p {
                font-size: 12px;
                font-family: "Inter", sans-serif;
                font-weight: bold;
                color: $light;
                text-transform: uppercase;
                z-index: 1;

                i {
                    margin-right: 8px;
                }
            }
        }
    }
}

div.wrapper-inner[data-content="empty"] {
    display: none;
}

.link {
    text-decoration: none;
    color: $white;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 8px 16px;
    background: $dark;
    position: relative;
    background: linear-gradient($dark, $dark) padding-box,
        linear-gradient(100deg, $teal, $white, $teal) border-box;
    background-size: 200%;
    border-radius: 50em;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    position: relative;

    &[href=""] {
        display: none;
    }

    &:hover {
        background-position: 100%;

        &:after {
            opacity: 0.5;
            transform: translate(-50%, -50%);
            transition: inherit;
            background-position: 100%;
        }
    }

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, $teal, $white, $teal);
        background-size: 200%;
        opacity: 0;
        transition: inherit;
        z-index: -1;
        filter: blur(24px);
        pointer-events: none;
    }
}