@media screen and (min-width: 992px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 15em;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        //background: #1b1b1b;
        transition: all 0.2s ease;
        z-index: 99999;
        background: #171717;
        padding: 16px;
        gap: 16px;

        .logo {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
            text-decoration: none;
            background: #232323;
            padding: 16px;
            border-radius: 16px;

            img {
                width: 30px;
                height: auto;
                cursor: pointer;
            }

            h1 {
                font-size: 16px;
                font-family: "Inter", sans-serif;
                color: white;
                font-weight: 400;
            }
        }


        .list-items {
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            margin: 0 0 2rem 0;

            a {
                text-decoration: none;
                justify-self: start;
                margin: 0.5rem 0;
                padding: 1rem;
                border-radius: 50%;
                transition: all 0.2s ease;
                display: flex;
                gap: 16px;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                position: relative;

                h2 {
                    font-size: 16px;
                    font-family: "Inter", sans-serif;
                    font-weight: normal;
                    color: #b5b5b5;
                }

                &:after {
                    content: "";
                    position: absolute;
                    left: -16px;
                    top: 0;
                    bottom: 0;
                    width: 3px;
                    transition: all 0.2s ease;
                }

                &.currentPage:after {
                    background: white;
                    content: "";
                    position: absolute;
                    left: -16px;
                    top: 0;
                    bottom: 0;
                    width: 3px;
                    transition: all 0.2s ease;
                }


                &:hover {
                    &:after {
                        background: white;
                    }

                    i {
                        color: white;
                    }
                }

                i {
                    font-size: 1.5rem;
                    color: #b5b5b5;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        display: none !important;
    }
}