* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Aktiv grotesk", sans-serif;
}

body {
    background: #171717;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(fonts/Helvetica\ Neue\ Medium\ Extended.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(fonts/Helvetica\ Neue\ Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Antigua";
    src: url(fonts/Antiga-Regular.ttf);
}

@font-face {
    font-family: "Aktiv grotesk";
    src: url(fonts/AktivGrotesk/TTF/AktivGrotesk-Regular.ttf);
}