@media screen and (min-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15em;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s ease;
    z-index: 99999;
    background: #171717;
    padding: 16px;
    gap: 16px;
  }
  .sidebar .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    background: #232323;
    padding: 16px;
    border-radius: 16px;
  }
  .sidebar .logo img {
    width: 30px;
    height: auto;
    cursor: pointer;
  }
  .sidebar .logo h1 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 400;
  }
  .sidebar .list-items {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 2rem 0;
  }
  .sidebar .list-items a {
    text-decoration: none;
    justify-self: start;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.2s ease;
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .sidebar .list-items a h2 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    color: #b5b5b5;
  }
  .sidebar .list-items a:after {
    content: "";
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    width: 3px;
    transition: all 0.2s ease;
  }
  .sidebar .list-items a:hover:after {
    background: white;
  }
  .sidebar .list-items a:hover i {
    color: white;
  }
  .sidebar .list-items a i {
    font-size: 1.5rem;
    color: #b5b5b5;
  }
}
@media screen and (max-width: 992px) {
  .sidebar {
    display: none !important;
  }
}
.wrapper {
  height: calc(100vh - 32px);
  width: calc(100% - var(--sidebar-width) - 16px);
  background: #232323;
  padding: 24px;
  margin: 16px 16px 32px var(--sidebar-width);
  border-radius: 16px;
  position: fixed;
  overflow-y: auto;
}
.wrapper .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.wrapper .container img.logo {
  width: 64px;
}
.wrapper .container .hero {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wrapper .container .hero h1 {
  font-size: 128px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  line-height: 128px;
}
.wrapper .container .hero h2 {
  font-size: 24px;
  color: #b5b5b5;
}
.wrapper .container .textBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-self: end;
}
.wrapper .container .textBox h2 {
  font-size: 24px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.wrapper .container .textBox p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #b5b5b5;
  max-width: 55ch;
}
.wrapper .title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.wrapper .wrapper-inner {
  background: #171717;
  padding: 24px;
  border-radius: 15px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.wrapper::-webkit-scrollbar {
  width: 36px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100px;
}
.wrapper::-webkit-scrollbar-track {
  background-color: #232323;
  border-radius: 100px;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border: 16px solid #232323;
  border-radius: 100px;
}

.recent-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}
.recent-projects .large-project {
  position: relative;
}
.recent-projects .large-project img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recent-projects .large-project:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  display: flex;
  border-radius: 15px;
  pointer-events: none;
}
.recent-projects .large-project .text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  gap: 8px;
}
.recent-projects .large-project .text-box h2 {
  font-size: 32px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.recent-projects .large-project .text-box p {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #b5b5b5;
  text-transform: uppercase;
}
.recent-projects .large-project .text-box p i {
  margin-right: 8px;
}
.recent-projects .large-project:hover .link-circle {
  opacity: 1;
  pointer-events: all;
}
.recent-projects .large-project .link-circle {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1;
}
.recent-projects .large-project .link-circle:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: -2;
  border-radius: 15px;
}
.recent-projects .large-project .link-circle i {
  font-size: 15px;
  color: #ffffff;
  transition: color 0.2s ease;
}
.recent-projects .large-project .link-circle i:after {
  content: "";
  background: #232323;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.recent-projects .large-project .link-circle i:hover {
  color: #309292;
}

.wrapper-inner-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}
.wrapper-inner-inner .project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 10;
}
.wrapper-inner-inner .project img {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper-inner-inner .project .text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 1;
}
.wrapper-inner-inner .project .text-box h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}
.wrapper-inner-inner .project .text-box p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #b5b5b5;
}
.wrapper-inner-inner .project .interaction-bar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.wrapper-inner-inner .project .interaction-bar p {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #b5b5b5;
  text-transform: uppercase;
  z-index: 1;
}
.wrapper-inner-inner .project .interaction-bar p i {
  margin-right: 8px;
}

div.wrapper-inner[data-content=empty] {
  display: none;
}

.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding: 8px 16px;
  background: #171717;
  position: relative;
  background: linear-gradient(#171717, #171717) padding-box, linear-gradient(100deg, #309292, #ffffff, #309292) border-box;
  background-size: 200%;
  border-radius: 50em;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  position: relative;
}
.link[href=""] {
  display: none;
}
.link:hover {
  background-position: 100%;
}
.link:hover:after {
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: inherit;
  background-position: 100%;
}
.link:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #309292, #ffffff, #309292);
  background-size: 200%;
  opacity: 0;
  transition: inherit;
  z-index: -1;
  filter: blur(24px);
  pointer-events: none;
}

.wrapper .heading-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
}
.wrapper .heading-box div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.wrapper .heading-box h2.heading-title {
  font-size: 32px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #ffffff;
}
.wrapper .heading-box .post-content {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #b5b5b5;
  max-width: 75ch;
  grid-column: span 2;
  grid-row: 2/2;
}
.wrapper .projectImage {
  width: 1300px;
  aspect-ratio: 16/9;
  border-radius: 15px;
}
.wrapper .technologies {
  display: flex;
}
.wrapper .technologies .tech {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.wrapper .technologies .tech img {
  height: 64px;
  width: 64px;
}
.wrapper .technologies .tech div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.wrapper .technologies .tech div h3 {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.wrapper .technologies .tech div p {
  font-family: "Inter", sans-serif;
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */